*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
    user-select: none;
    font-family: var(--bn_font_7);

}










html{
    background-color: #d5d5d9;
}






/* !-----Header Section--------------------------------- */
.header{
    margin: auto;
    background-color: #ffffffbd;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / .1),
                 0 8px 10px -6px rgb(0 0 0 / .1);
    height: 4rem;
    width: 100%;


}

.header div{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100%;
    width: 100%;
}
.header_logo{
    width: 12rem;
    /* height: auto; */
}




.intro{
    text-align: center; 
    margin-top: 5rem;
    /* margin-bottom: 10rem; */
    font-size: 1.5rem;
    
}
.p_txt{
    text-align: center; 
    margin-top: 1rem;
    margin-bottom: 10rem;
    font-size: 1.2rem;
    
}












/* !-------Footer section--------------------------------- */
.credit{
    max-width: 85vw;
    height: 3rem;
    margin: auto;
    margin-top: 60vh;
    margin-bottom: 2vh;
    text-align: center;
    text-decoration: none ;
 }
 .credit p{
   font-size:.8rem ;
   font-weight: 500 ;
   color: #0663b9;
   font-family: var(--bn_font_4);
}
.p2{
    margin-top: .2rem;
}
#nm1{
    color: red;
}
#nm2{
    color: rgb(3, 151, 3);
}