*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
    user-select: none;
    font-family: var(--bn_font_5);

}










html{
    background-color: #d5d5d9;
}






/* !-----Header Section--------------------------------- */
.header{
    margin: auto;
    background-color: #ffffffbd;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / .1),
                 0 8px 10px -6px rgb(0 0 0 / .1);
    height: 4rem;
    width: 100%;


}

.header div{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100%;
    width: 100%;
}
.header_logo{
    width: 12rem;
    /* height: auto; */
}




.intro{
    text-align: center; 
    margin-top: 4.5rem;
    margin-bottom: 3rem;
    margin-left: 1rem; margin-right: 1rem;
    font-size: 1.5rem;
    
}
.p_txt{
    text-align: center; 
    /* margin-top: 2.5rem; */
    margin-bottom: 1rem;
    font-size: 1.2rem;
    margin-left: 5vw;
    margin-right: 5vw;    
}
#btn00{
    padding: 0px 5px;
    border-radius: 6px;
    border: 2px solid rgba(0, 0, 0, 0.842);
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.842);
    font-weight: 700;
    font-size: 1rem;
    transition: .4s;
}
#btn00:hover{
    color: rgba(0, 0, 0, 0.932);
    background-color: #ffffff;
    cursor: pointer;
    border: 2px dotted;
}











/* !-------Footer section--------------------------------- */
.credit{
    max-width: 85vw;
    height: 3rem;
    margin: auto;
    margin-top: 40vh;
    margin-bottom: 2vh;
    text-align: center;
    text-decoration: none ;
 }
 .credit p{
   font-size:.8rem ;
   font-weight: 500 ;
   color: #0663b9;
   font-family: var(--bn_font_4);
}
.p2{
    margin-top: .2rem;
}
#nm1{
    color: red;
}
#nm2{
    color: rgb(3, 151, 3);
}