*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
    user-select: none;
    font-family: var(--bn_font_5);

}












html{
    background-color: #d5d5d9;
    scroll-behavior: smooth;
}
.p1{
    font-weight: 650;
    font-size: 1.1rem;

}
.p2{
    font-weight: 550;
    font-size: 1.05rem;

}
.p3{
    font-weight: 450;
    font-size: 1rem;
    
}
#p3_contact span{
    user-select: all;
}
/* .p_caption{
    font-size: .5rem;
} */


.bold_p{
    font-weight: 550;
}






/* !-----Header Section--------------------------------- */
.header_area{
    margin: auto;
    background-color: #ffffffbd;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / .1),
                 0 8px 10px -6px rgb(0 0 0 / .1);
    height: 4rem;
    width: 100%;

}
.header_area div{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100%;
    width: 100%;

}
.header_logo{
    width: 12rem;
    /* height: auto; */
}








/* !-------BodyArea Section ------------------*/
.bodyArea{
    min-height: 55vh;
}
.card{
    background-color: rgba(255, 255, 255, 0.658);
    box-shadow: 0 20px 25px -16px rgb(0 0 0 / .1),
                0 20px 25px -16px rgb(0 0 0 / .1);
    width: 90%;
    /* min-height: 15rem; */
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 1.7rem;
    padding: 1.5rem;
    
}
.txt_box_1{
    /* padding: .5rem; */
    margin-bottom: 2.2rem;
}
.card p{
    /* font-family: var(--bn_font_5); */
    /* font-size: 1rem; */
    color:rgba(0, 0, 0, 0.842);
}
.btn_link{
    list-style-type: none;
    text-decoration: none;
}
.btn{
    border:1px solid black;
    background-color: rgba(0, 0, 0, 0.726);
    color: #ffffff;
    padding: 6px 20px;
    border-radius: 8px;
    font-weight: 500;
    display: block;
    margin: auto;
    transition: .4s;
    font-size: .9rem;
}
.btn:hover{
    color: rgba(0, 0, 0, 0.726);
    background-color: #ffffff;
    cursor: pointer;
}
.btn_box{
    display: flex;
    justify-content: space-evenly;
}
.table,
tr,
td{
    border: 1px solid rgba(0, 0, 0, 0.219);
    border-collapse: collapse;
    border-radius: 5px;
    text-align: center;
    padding: 5px;

}
td,tr{
    border: 1.5px solid rgba(0, 0, 0, 0.671);
}

.table{
    width: 100%;
}
.table span{
    font-size: .7rem;
    color: #0000008a;
}
.table caption{
    font-size: 1rem;
    text-align: left;
    /* font-family: var(--bn_font_5); */
    margin-bottom: .3rem;
}
.p4{
    padding: .5rem 1rem 0rem 1rem;
    /* margin-bottom: -1rem; */
}
.i_link{
    color: #3c06d1;
}
#keno_card ul li{
    margin-left: 1.8rem;
    margin-top: .5rem;
}






/* !-------Footer section--------------------------------- */
.credit{
    max-width: 85vw;
    height: 3rem;
    margin: auto;
    margin-top: 25vh;
    margin-bottom: 2vh;
    text-align: center;
    text-decoration: none ;
 }
 .credit p{
   font-size:.8rem ;
   font-weight: 500 ;
   color: #0663b9;
   font-family: var(--bn_font_4);
}
.f_2{
    margin-top: .2rem;
}
#nm1{
    color: red;
}
#nm2{
    color: rgb(3, 151, 3);
}